doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title circosJS
    
    body
        svg(id='chart')

        script(src='../js/d3.min.js')
        script(src='../js/circosJS.js')
        script(src='../js/example/example.js')
        link(rel='stylesheet' href='../css/colorBrewer.css')