.d3-tip.appear {
  animation: appear 0.2s ease-out;
  -webkit-animation: appear 0.2s ease-out;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
